## 1 Задача
Дан список adv с затратами на рекламу.

Но в данных есть ошибки, некоторые затраты имеют отрицательную величину.

Удалите такие значения из списка и посчитайте суммарные затраты.

Запишите их в переменную x.

Используйте list comprehensions.
```
    adv = [100, 125, -90, 345, 655, -1, 0, 200]
```

In [70]:
adv = [100, 125, -90, 345, 655, -1, 0, 200]

x = sum([adv[i] for i in range(len(adv)) if adv[i] >= 0])
print(x)

1425

## 2 Задача

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию total_fruits, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

можно решить через *kwargs

In [58]:
def total_fruits(**kwargs):
    sum_fruits = 0
    for i in kwargs:
        sum_fruits += kwargs[i]
    return sum_fruits

In [60]:
print(total_fruits(apples=10, bananas=5, oranges=8))

23

## 3 Задача

Даны два списка: дата покупки dates, суммы покупок по датам income.
Найти итоговую сумму всех покупок в ноябре и сохранить ее в переменную x.
Используйте list comprehensions.

In [64]:
dates = ['2021-11-01']
income = [100]

In [126]:
x = 0
for i in range(len(dates)):
    print(dates[i].split('-'))
    if dates[i].split('-')[1] == '11':
        x += income[i]
print(x)

['2021', '11', '01']
100

In [116]:
x = sum(income[i] for i in range(len(dates)) if dates[i].split('-')[1] == '11')
print(x)

100

## 4 Задача

Найдите выручку компании в зависимости от месяца. Для этого напишите функцию calc_income_by_month(), которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Используйте аннотирование типов.

In [136]:
dates = ['2021-10-01', '2021-11-05', '2021-12-10']
income = [100, 200, 300]

In [176]:
def calc_income_by_month(dates: list, incomes: list) -> dict:
    new_dict = {}
    for i in range(len(dates)):
        month = dates[i].split('-')[1]
        if month in new_dict:
            new_dict[month] += incomes[i]
        else:    
            new_dict.update(
                {
                month : incomes[i]
                })
    return new_dict

In [184]:
print(calc_income_by_month(dates = ['2021-10-01', '2021-11-05', '2021-12-10'], incomes = [100, 200, 300]))

{'10': 100, '11': 200, '12': 300}