## 1 Задача
1. Скачать данные
2. Считать данные с помощью pandas
3. Вывести первые 5 строк
4. Посмотреть на описание признаков и на их содержание

In [18]:
import pandas as pd

# df = pd.read_csv('https://gbcdn.mrgcdn.ru/uploads/asset/6037468/attachment/3bd90348fc12acc4c94dce6d80d1bd0a.csv', sep=';')
df = pd.read_csv('laptops.csv', sep=';')

In [19]:
df.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

## 2 Задача
1. Изучите типы данных
2. Найдите кол-во пропущенных ячеек данных
3. Посчитайте основные статистики по всем признакам и поизучайте их

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1303 non-null   object
 1   Product           1303 non-null   object
 2   TypeName          1303 non-null   object
 3   Inches            1303 non-null   float64
 4   ScreenResolution  1303 non-null   object
 5   Cpu               1303 non-null   object
 6   Ram               1303 non-null   object
 7   Memory            1303 non-null   object
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   object
 11  Price_euros       1303 non-null   float64
dtypes: float64(2), object(10)
memory usage: 122.3+ KB

In [22]:
df.isnull().sum().sum()

0

In [24]:
df.describe()

            Inches  Price_euros
count  1303.000000  1303.000000
mean     15.017191  1123.686992
std       1.426304   699.009043
min      10.100000   174.000000
25%      14.000000   599.000000
50%      15.600000   977.000000
75%      15.600000  1487.880000
max      18.400000  6099.000000

In [25]:
df.describe(include=['object'])

,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
unique,19,618,6,40,118,9,39,110,9,179
top,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,297,30,727,507,190,619,412,281,1072,121

## 3 Задача
Ответьте на несколько вопросов

### 3.1 Ноутбуков от какой компании больше всего в наборе данных?

In [26]:
df['Company'].value_counts()

Company
Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: count, dtype: int64

### 3.2 Какая минимальная и максимальная стоимость у ноутбуков в наборе данных?

In [27]:
df['Price_euros'].min(), df['Price_euros'].max()

(174.0, 6099.0)

### 3.3 Какой самый дорогой ноутбук в данных?
Выведете все характеристики только по этому ноутбуку

Если таких ноутбуков несколько, то выводите их всех

In [30]:
df.sort_values('Price_euros', ascending=False).head(1)

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
196,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0

In [31]:
df.sort_values('Price_euros', ascending=False).iloc[0]

Company                                           Razer
Product                                       Blade Pro
TypeName                                         Gaming
Inches                                             17.3
ScreenResolution    4K Ultra HD / Touchscreen 3840x2160
Cpu                         Intel Core i7 7820HK 2.9GHz
Ram                                                32GB
Memory                                          1TB SSD
Gpu                             Nvidia GeForce GTX 1080
OpSys                                        Windows 10
Weight                                           3.49kg
Price_euros                                      6099.0
Name: 196, dtype: object

## 4 Задача
Ответьте на несколько вопросов

### 4.1 Найдите ноутбуки с самой маленькой диаганалью данных
Выведете только следующе характеристики:
1. Компания
2. Тип ноутбука
3. Диагональ
4. Стоимость

Если таких ноутбуков несколько, то выводите их все

In [36]:
df[df['Inches'] == df['Inches'].min()][['Company', 'TypeName', 'Inches', 'Price_euros']]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

### 4.2 Сколько стоит самый дорогой ноубук у компании HP?

In [37]:
df[df['Company'] == 'HP']['Price_euros'].max()

4389.0

### 4.3 Как много ноутбуков Ultrabook с 8GB RAM?
Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении относительно всех утрабуков